/* CSS declarations go here */
*:focus{
    outline: 0;
}

html, body {
    height: 100%;
}
html {
    overflow-y: hidden;
}

body {
    overflow-y: scroll;
    font-family: FontAwesome, Helvetica, sans-serif;
    position: absolute;
    background-color: #040443 !important;
    color:white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

header{
    position: relative;
}
header h1 {
    text-align: left;
    padding: 1em 0;
    padding-left: 1em;
    padding-bottom: 0;
    margin: 0;
}
header h1 a {
    color: #ecf0f1;
}

header h1::after {
  display: block;
  content: '';
  width: 60px;
  height: 8px;
  border-radius: 20px;
  background-color: #FA5D82;
  margin-top: 0.5em;
}

header #google-play{
    float: right;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
}
header #google-play:hover{
    background-color: #6200ee;
}
header #google-play img{
    width: 64px;
}

header nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

header nav a {
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 400px;
    border: 1px solid #5f6368;
    border-radius: 5px;
    color: #6200ee;
    font-weight: bold;
}

header nav a.activeNavLink {
    color: white;
    background-color: #6200ee;
}

h2 {
    text-align: center;
}


#noLinkMessage{
    text-align: center;
    font-size: xx-large;
    padding-top: 150px;
    padding-bottom: 300px;
}

#login-buttons .login-link-and-dropdown-list {
  position: unset;
}
.login-link-and-dropdown-list {
  display: flex;
}
#login-buttons{
    /* position: absolute; */
    top: 0;
    left: 0;
}
#login-buttons a {
    color: #8E8EFF;
}

.login-button {
    border-radius: 0 !important;
    /* width: 80% !important; */
    background-color: #0f0f4a !important;
    padding: 0.5em !important;
    border: 0 !important;
    margin-bottom: 2em !important;
}

#app-theme{
    float: right;
    padding: 3px;
}

.close {
  position: fixed;
  padding: 1em;
  right: 0;
  top: 0;
  font-size: 1.6em;
}
.close:hover {
    cursor: pointer;
}

#showLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}


#input {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

#input h2 {
    color: white;
    padding: 0px;
    padding-right: 15px;
    margin: 0;
    font-size: large;
    text-align: right;
}

#input #or{
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}
#input input, #input select {
    width: 100%;
    padding: 2%;
    margin-top: 5px;
    border: 0;
}

#input .lds-dual-ring{
    margin-top: 5px;
}

#input select{
    width: 100%;
    text-align: center;
}
#input select:hover{ cursor: pointer; }
#input input[type="submit"]{
    width: 150px;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
}
#input input[type="submit"]:hover{ cursor: pointer; }
#input form {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

#login-buttons {
    display: block;
}
#login-buttons a{
    text-decoration: none;
}
#login-dropdown-list {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222276;
    border: 0;
}
.login-close-text {
    position: fixed !important;
    top: 20px;
    right: 20px;
    padding: 1em;
    color: #fff !important;
    text-align: right;
}
.login-form {
  padding: 1em;
}
.login-form label {
  color: #fff;
}
.login-form input,
.new-link input,
.new-link select,
.new-category input {
  background-color: #fff !important;
  color: #272931 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0.5em !important;
}
.login-form button,
.new-link .submitBtn,
.new-category .submitBtn {
  width: 100% !important;
  color: #fff !important;
  border: 0 !important;
  padding: 0.5em !important;
  border-radius: 0 !important;
  background-color: #0f0f4a !important;
}
.login-form #signup-link {
  color: #8E8EFF !important;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 1em;
}


.new-category span{
    display: block;
    overflow: hidden;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

a {
    text-decoration: none;
    color: #6200ee;
}

select:focus, input:focus { outline: 0; }

ul {
    margin: 0;
    margin-top: 40px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
ul.category a.external-link{
    position: absolute;
    right: 20px;
    margin-top: 3px;
    z-index: 2;
}
li {
  position: relative;
  list-style: none;
  padding: 1em;
  margin-bottom: 0.5em;
}
li.category {
    font-weight: 500;
    padding: 0.5em;
    font-size: 1.5em;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-radius: 0px 0px 0px 0px;
    margin: 0;
    margin-bottom: -0.5em;
}
li.category + li {
    margin-top: 1.5em;
}

.btn-copy-link {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    font-weight: 700;
    padding: 0.7em;
    margin-right: 10px;
    margin-top: -10px;
    vertical-align: middle;
    border-radius: 8px;
    opacity: 0.7;
}
.btn-copy-link:hover {
    cursor: pointer;
}

.delete {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: absolute;
  top: -10px;
  left: -10px;
  /* margin-top: -10px; */
  vertical-align: top;
  color: #7b7b7b;
  border-radius: 8px;
  background-color: #FA5D82;
  opacity: 0.8;
}
.delete:hover{
    cursor: pointer;
    background-color: #FA8D92;
}

.description {
  padding: 0 0.5em;
}

.description .url {
  /* display: inline-block; */
  font-weight: 100;
  font-size: 0.7em;
  word-wrap: break-word; /* added for large urls*/
}

.description .owner {
    display: inline-block;
    float: right;
    font-weight: 100;
    font-size: 0.7em;
    text-align: right;
}

header .hide-completed {
    float: right;
}

.main {
  margin-bottom: 100px;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #1C1767;
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.banner .options {
    outline: none;
    font-size: 2em;
    padding: 1em;
    transition: all 200ms;
}
.banner .options select {
    background-color: #1b1767;
    text-transform: capitalize;
    font-size: 14px !important;
    border-radius: 0px;
    border: 0;
    padding: 1em;
    height: 35px;
    color: #fff;
    width: 90px;
}
.banner .user .login-link-text {
    font-size: 14px !important;
    color: #fff !important;
}
.banner .options:hover {
    cursor: pointer;
    outline: none;
}

.new-link h2,
.new-category h2 {
  width: 100%;
  margin-bottom: 1em !important;
  text-align: left !important;
}

.new-link h2::after,
.new-category h2::after {
  display: block;
  content: '';
  width: 60px;
  height: 8px;
  border-radius: 20px;
  background-color: #FA5D82;
  margin-top: 0.5em;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }
  .new-task input {
    padding-bottom: 5px;
  }
}

@keyframes wifi-lost {
    0%{opacity: 1;}
    2%{opacity: 0;}
    4%{opacity: 1;}

    100%{opacity: 0.2;}
}

.fa-wifi{
    color: #FA5D82;
    animation-name: wifi-lost;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

input[name="search"]{
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: #ecf0f1;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #6200ee;
    display: flex;
    margin: auto;
}
