/*
remain the same - dark (black)
#fd79a8 - light-dark (purple)

#a29bfe - light-dark (grey)
#fd79a8 - light (white)

#ffeaa7 - hightlight (green)
#fdcb6e - highlight mouse hover (blue)
*/

.theme-maraki{
    background-color: rgba(255,255,255,0.3);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 22px;
}
.theme-maraki header, .theme-maraki #input{
    background-color: #151515;
    color: #ecf0f1;
}

/* input module */
.theme-maraki #input input, .theme-maraki #input select{
    background-color: #fd79a8;
    border-radius: 20px;
    color: #ecf0f1;
}
.theme-maraki #input input:focus, .theme-maraki #input select:focus{
    background-color: #ff89b8;
}
.theme-maraki #input input[type="submit"]{
    background-color: #6c5ce7;
    color: #fd79a8;
    font-weight: bold;
}

.theme-maraki li:nth-child(5n-3) { background-color: rgba(255,127,127,0.3); }
.theme-maraki li:nth-child(5n-2) { background-color: rgba(255,228,129,0.3); }
.theme-maraki li:nth-child(5n-1) { background-color: rgba(210,255,139,0.3); }
.theme-maraki li:nth-child(5n) { background-color: rgba(165,209,255,0.3); }
.theme-maraki li:nth-child(5n-4) { background-color: rgba(227,156,255,0.3); }

/* categories title */
.theme-maraki li.category{
    background-color: #fd79a8;
    background: rgb(108,92,231);
    background: radial-gradient(circle, rgba(108,92,231,1) 15%, rgba(253,121,168,1) 100%);
    border-radius: 0px 0px 15px 15px;
}
.theme-maraki li.category:before{content: '\2665'; color: red;}
.theme-maraki li.category:after{content: '\2665'; color: red;}

/* links list */
.theme-maraki li a{ color: #fd79a8; }
.theme-maraki li a:hover{ color: #ffeaa7; }
.theme-maraki li .btn-copy-link{ background-color: #ecf0f1; }
.theme-maraki li .btn-copy-link:hover{ background-color: #fd79a8; }
.theme-maraki li .btn-copy-link:active{ background-color: #ffeaa7; }
.theme-maraki li .delete{ color: #ecf0f1; }
.theme-maraki li .owner{ color: #ffeaa7; }
