<template name="index">
    <h2>
        <a href="/@{{username}}">
            {{username}}
        </a>
        's links
    </h2>

    {{#if displaySearchBar}}
        <input type="text" name="search" list="search" placeholder="Search...">
        <datalist id="search">
            {{#each categories}}
                <option>{{name}}</option>
            {{/each}}
        </datalist>
    {{/if}}

    {{#if categories}}

        <ul class="main">
            {{#each categories}}
                {{> category}}
            {{/each}}
        </ul>
    {{else}}
        <div id="noLinkMessage">
            {{#if is_connected}}
                {{#if is_owner}}
                    Nothing to show here :(
                {{else}}
                    Nothing to show here :(
                {{/if}}
            {{else}}
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            {{/if}}
        </div>
    {{/if}}
</template>
