<template name="link">
    <li>
        <button
        class="btn-copy-link"
        data-clipboard-text="{{url}}">
            COPY
        </button>
        {{#if is_owner}}
            <button class="delete">&times;</button>
        {{/if}}
        <a href="{{url}}" target="_blank">{{description}}</a>
        <div class="description">
          <div class="url">{{url}}</div>
          <div class="owner">by {{owner}}</div>
        </div>
    </li>
</template>
